body {
	background-color: white;
	width: 100%;
	font-family: sans-serif;
	margin: 0;
}

#page-content {
	background-color: white;
	border: solid gray 1px;
	padding: 10px;
	width: 50%;
	margin: 50px auto;

	text-align: justify;
	line-height: 150%;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;

	box-shadow: 0px 0px 15px lightgray;
	-moz-box-shadow: 0px 0px 15px lightgray;
	-ms-box-shadow: 0px 0px 15px lightgray;
	-webkit-box-shadow: 0px 0px 15px lightgray;
	-o-box-shadow: 0px 0px 15px lightgray;
}

.corner {
	position: fixed;
	width: 20%;
	padding: 1%;

	color: gray;
}
.corner a, .corner a:visited {
	color: dimgray;
	text-shadow: 1px 1px 1px #bbb;
}
.corner a:hover {
	color: gray;
}
.corner.bottom {
	bottom: 0;
}
.corner.top {
	top: 0;
}
.corner.right {
	right: 0;
	text-align: right;
}
.corner.right h2 {
	text-align: left;
	float: left;
}
.corner.left {
	left: 0;
	text-align: left;
}
.corner.left h2 {
	text-align: right;
	float: right;
}
.corner h2 + * {
	clear: both;
}

h1 {
	text-align: center;
	font-style: italic;
	width: 100%;
}

h2 {
	width: 75%;
}

h3 {
	width: 65%;
	margin-left: 2.5%;
}

#page-content h1, h2, h3 {
	border-bottom: solid gray 1px;
}

#page-content > p, table, h4, pre, ul, #page-content div {
	margin-left: 5%;
	margin-right: 5%;
}

a, a:visited {
	color: navy;
	text-decoration: none;
}

a:hover {
	color: darkred;
	text-decoration: underline;
}

pre {
	background-color: #EFEFEF;
	padding: 5px;
	border: solid gray 1px;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}

code {
	background-color: #EFEFEF;
	padding: 3px;
	border: solid lightgray 1px;
	color: black;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

pre code {
	background-color: auto;
	padding: auto;
	border-style: none;
}

table {
	border-collapse: collapse;
	text-align: left;
}

table tr td {
	border-bottom: solid lightgray 1px;
	border-top: solid lightgray 1px;
	border-right: solid lightgray 1px;
	border-left: solid lightgray 1px;

	padding: 5px;
}

table tr:nth-of-type(even) td {
	background-color: #EDEDED;
}

th {
	padding: 5px;
}

div.libba-specific {
	padding: 10px;
	background-color: #333;
	color: white;
	border: solid gray 1px;

	box-shadow: 0px 0px 10px #333;
	-moz-box-shadow: 0px 0px 10px #333;
	-ms-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	-o-box-shadow: 0px 0px 10px #333;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
div.libba-specific:before {
	content: 'libba.net:';
	color: white;
	font-style: italic;
	text-shadow: 1px 1px 1px black;

	display: block;
	width: 65%;
	border-bottom: solid #222 2px;
}