<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/style/default.css"/>
		{% for css in page.css %}
			<link rel="stylesheet" type="text/css" href="/style/{{css}}.css"/>
		{% endfor %}
	</head>
	<body>
		<h1>{{ page.title }}</h1>
		<div id="page-content">{{ content }}</div>
		<div id="navigation" class="corner top left">
			<h2>Navigation</h2>
			<div>
				<a href="http://libba.net">Main website</a><br/>
				<a href="/">Start page</a><br/>
				{% if page.nav_links.index %}
					{% for link in page.nav_links.index %}
						<a class="level-1" href="/{{link[1]}}">{{link[0]}}</a><br/>
					{% endfor %}
				{% endif %}
				<a href="/blog/">Blog</a><br/>
				{% if page.nav_links.blog %}
					{% for link in page.nav_links.blog %}
						<a class="level-1" href="/{{link[1]}}">{{link[0]}}</a><br/>
					{% endfor %}
				{% endif %}
				<a href="/docs/">Docs</a><br/>
				{% if page.nav_links.docs %}
					{% for link in page.nav_links.docs %}
						<a class="level-1" href="/{{link[1]}}">{{link[0]}}</a><br/>
					{% endfor %}
				{% endif %}
				{% for link in page.nav_links %}
					{% unless link[0] == 'index' or link[0] == 'blog' or link[0] == 'docs' %}
						<a href="/{{link[1]}}">{{link[0]}}</a><br/>
					{% endunless %}
				{% endfor %}
			</div>
		</div>
		<div id="site" class="corner bottom right">
			<h2>Site</h2>
			<div>
				(c) maul.esel<br/>
				<a href="https://github.com/Library-Distribution/about.libba.net">github repo</a><br/>
				Last built: {{ site.time | date_to_long_string }} {{ site.time | date: "%X" }}
			</div>
		</div>
	</body>
</html>